* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-left: 5em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
}

button {
  width: 10em;
  min-height: 2em;
}

nav {
  color: white;
  padding-left: 4em;
  display: flex;
  align-items: center;
}

.navlink {
  display: inline-block;
  max-width: 170px;
  color: white;
  padding-left: 2rem;
  text-decoration: none;
}

.artlink {
  display: inline-block;
  max-width: 170px;
  color: white;
  border: solid;
  border-color: white;
  border-radius: 12px;
  padding: 1rem 2rem;
  text-decoration: none;
}

.artdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  padding-left: 4em;
  padding-bottom: 5em;
  gap: 0.8em;
}

.topdiv {
  color: white;
  background-image: url(./images/galaxy-sm.png);
  background-size: cover;
}

.middiv {
  color: white;
  background-image: url(./images/landscape-sm.png);
  background-size: cover;
  background-position: bottom;
}

.botdiv {
  color: white;
  background-image: url(./images/eclipse-sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}
